/pkg/websocket
/pkg/nazabytes/
/pkg/tag
/pkg/nazatime

/playground
/playground/cc
/demo/samefile
/demo/time
/demo/temp

/.idea
/.trash
/bin
/pre-commit.sh
/TODO.md

coverage.txt
coverage.html
tmp
profile.out*
profile*.pdf
*.test
