/pkg/websocket
/pkg/nazabytes/
/pkg/tag
/pkg/nazatime

/playground
/playground/cc
/demo/camel/camel
/demo/samefile
/demo/time
/demo/temp
/demo/analyse_git_log
/demo/analyse_wireshark_plain_txt_dissection

/.idea
/.trash
/bin
/pre-commit.sh
/TODO.md

coverage.txt
coverage.html
tmp
profile.out*
profile*.pdf
*.test
*.h264
